.App {
  text-align: center;
  background: #fcf9f9;
}

.dashboard,
.opportunities {
  margin: 15px;

  .info {
    font-weight: 300;
  }

  .heading {
    padding-top: 10px;
    margin-bottom: 0px;
  }

  .job-links {
    margin: 10px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;

    a {
      margin: 15px;
      text-decoration: none;
      color: black;
    }
  }
}
