.App {
  text-align: center;
  background: #fcf9f9;
}

.dashboard,
.opportunities,
.apps,
.interviews,
.offers {
  text-align: left;
  margin-left: 128px;
  margin-right: 128px;

  .info {
    font-weight: 300;
  }

  .heading {
    display: relative;
    padding-top: 30px;
  }

  .job-links {
    margin: 10px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;

    a {
      margin: 15px;
      text-decoration: none;
      color: black;
    }
  }

  .button {
    display: grid;
    justify-content: end;
  }

  .btn {
    height: 50px;
    width: 125px;
    margin: 5px;
  }
}

.offers-form,
.interv-form,
.oppor-form,
.app-form {
  .input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    display: grid;
    justify-content: center;
    width: 90%;
    padding: 12px 20px;
    border-radius: 4px;
  }

  .label {
    display: grid;
    justify-content: start;
    font-weight: 900;
  }

  .btn {
    background: linear-gradient(
        101.18deg,
        #3253fe -5.14%,
        rgba(255, 255, 255, 0) 145.08%
      ),
      #061b51;
    box-shadow: 4px 4px 45px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: 900;
  }
}
