.btn {
    background: linear-gradient(101.18deg, #3253FE -5.14%, rgba(255, 255, 255, 0) 145.08%), #061B51;
    box-shadow: 4px 4px 45px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: 900;
}
