.card {
  text-align: center;
  background-color: red;
  height: 150px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2.subheading {
    font-weight: 400;
    font-size: 30px;
    padding-top: 20px;
    margin: 20px;
    margin-bottom: -20px;
  }

  h3.ssheading {
    font-weight: 300;
    font-size: 20px;
  }

  .number {
    font-weight: 900;
  }
}
